.Navbar {
    max-width: 1280px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
}

.Contact {
    max-width: 1280px;
    margin: 70px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.BoxLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 50%;
}

.BoxLeft h1 {
    color: #000;
    font-family: "Inria Serif";
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.BoxLeft p {
    text-align: center;
}

.ContactInfo {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.ContactInfo h6 {
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    display: flex;
    gap: 15px;
}

.BoxLeft span.IconBox {
    height: 30px;
    background: #FFA500;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon {
    width: 20px;
    height: 20px;
    color: #ffffff;
}

.BoxRight button {
    width: 80%;
    height: 50px;
    border-radius: 10px;
    background: #FFA500;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.BoxRight {
    width: 40%;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}


.BoxRight .Inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.BoxRight .Input {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.BoxRight .Input p {
    margin: 0;
    color: #000;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.BoxRight .Input p span p {
    color: #000;
    font-family: Poppins;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.BoxRight .Input input {
    border-radius: 9px;
    border: 1px solid #000;
    height: 30px;
    padding: 5px 0px 5px 18px;
    display: flex;
    width: 96%;
}

.BoxRight .Input textarea {
    border-radius: 9px;
    border: 1px solid #000;
    height: 190px;
    padding: 5px 0px 5px 18px;
    display: flex;
    width: 96%;
}

.FooterBox {
    padding: 50px 0 50px 0;
    background: #002F6C;
    border-radius: 70px 70px 0 0;
}

  /* Responsive */

  @media only screen and (max-width: 450px) {

    .Navbar {
        max-width: 450px !important;
        margin: 0 auto;
        height: 50px;
        display: flex;
        align-items: center;
    }
    

    .Contact {
        max-width: 450px !important;
        margin: 70px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 35px;
    }

    .BoxLeft {
        width: 90% !important;
    }

    .BoxLeft h1 {
        font-size: 50px !important;
    }

    .BoxLeft p {
        text-align: center;
        font-size: 10px;
    }

    .ContactInfo h6 {
        font-size: 15px !important;
    }

    .Icon {
        width: 15px !important;
        height: 15px !important;
    }

    .BoxRight {
        width: 80% !important;
    }

    .BoxRight button {
        height: 40px !important;
        font-size: 15px !important;
    }
}

/* #################################### */